.full-width-table-container {
  width: 100%;
}

.full-width-table-container table {
  width: 100%;
  table-layout: fixed;
}

.full-width-table-container th,
.full-width-table-container td {
  width: 50%;
}
